
#upload{
    font-size: 60px;
    color: teal;
    cursor: pointer;
    line-height: 1;
}

.icons{
    font-size: 20px;
    color: rgb(153, 13, 13);
    cursor: pointer;
}

.drop-Area{
    height: 200px;
    margin-top: 40px;
    background-color: transparent;
    border: 2px dashed black;
    
}
.drop-Area p{
    padding-top: 14px;
    margin-bottom: 0px;
    font-size: 20px;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  } 
 body, html {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  